<div class="permission-page">
  <div class="page-header">
    <app-button type="button" class="btn-new">
      <i class="ph-bold ph-plus"></i>
      <span>Criar Nova</span>
    </app-button>
  </div>
  <div class="page-body">
    <app-table
      [data]="permissionsData"
      [columns]="tableColumns"
      [itemsPerPage]="itemsPerPage"
      [currentPage]="currentPage"
      (edit)="onEdit($event)"
      (delete)="onDelete($event)"
      >></app-table
    >
  </div>
  <div class="page-footer">
    <pagination-controls
      (pageChange)="currentPage = $event"
    ></pagination-controls>
  </div>
</div>
