<aside class="sidebar">
  <div class="sidebar-container">
    <div class="sidebar-header">
      <img
        [src]="environment.clientLogo"
        alt="Logo do cliente"
        class="logo-client"
      />
    </div>
    <div class="sidebar-body">
      <ul>
        <li *ngFor="let menu of menus" class="parent-menu">
          <h6 [routerLink]="menu.mnu_routerlink" class="teste">
            <i [class]="menu.mnu_icon"></i> <span>{{ menu.mnu_label }}</span>
          </h6>
          <ul *ngIf="menu.children.length > 0">
            <li *ngFor="let child of menu.children">
              <a
                [routerLink]="child.mnu_routerlink"
                routerLinkActive="active"
                (click)="onMenuClick(child.mnu_label)"
              >
                <i [class]="child.mnu_icon"></i>
                <span>{{ child.mnu_label }} </span>
              </a>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
  <div class="sidebar-footer">
    <button type="button" (click)="logout()">
      <i class="ph-bold ph-sign-out"></i>
      <span>Logout</span>
    </button>
  </div>
</aside>
